POSTGRES_DB=thesis_prod
POSTGRES_USER=thesis_prod
POSTGRES_PASSWORD=change_me_to_a_strong_password

API_JWT_SECRET=change_me_to_a_long_random_secret
API_PORT=1904
API_DB_HOST=db
API_DB_PORT=5432
API_DB_USER=thesis_prod
API_DB_NAME=thesis_prod
API_DB_PASSWORD=change_me_to_a_strong_password
API_USE_HTTPS=false

WEB_PORT=3000
WEB_USE_HTTPS=false
API_HOST=api
COOKIE_SECURE=true
CORS_ORIGIN=https://computable.tech

NODE_ENV=production
APP_DOMAIN=computable.tech
ACME_EMAIL=admin@computable.tech